<div fxFlex fxLayout="column" style="padding: 0rem 1rem;">
	<form [formGroup]="form" fxFlex fxLayout="column" style="justify-content: space-around" class="example-form"
				novalidate>
		<mat-card fxFlex fxLayout="column">
			<div class="container">
				<div formArrayName="countries"
						 *ngFor="let country of form.get('countries').controls; let countryIndex = index;">
					<div class="addressContainer" [formGroupName]="countryIndex">
						<div class="addressFieldContainer">
							<mat-form-field class="example-full-width">
								<input matInput formControlName="name" [placeholder]="service.cid + '.country_name' | translate">
							</mat-form-field>
							<div class="actions">
								<button mat-icon-button color="primary" [matTooltip]="service.cid + '.add_city' | translate"
												(click)="pushItem(country, 'cities')">
									<mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
								</button>
							</div>
						</div>

						<div class="cities" formArrayName="cities"
								 *ngFor="let city of country.get('cities').controls; let cityIndex = index;">
							<div class="addressContainer" [formGroupName]="cityIndex">
								<div class="addressFieldContainer">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="name" [placeholder]="service.cid + '.city_name' | translate">
									</mat-form-field>
									<div class="actions">
										<button mat-icon-button color="warn" [matTooltip]="service.cid + '.remove_city' | translate"
														(click)="deleteItem(country, cityIndex, 'cities')">
											<mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
										</button>
										<button mat-icon-button color="primary" [matTooltip]="service.cid + '.add_region' | translate"
														(click)="pushItem(city, 'regions')">
											<mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
										</button>
									</div>
								</div>

								<div class="regions" formArrayName="regions"
										 *ngFor="let region of city.get('regions').controls; let regionIndex = index;">
									<div class="addressContainer" [formGroupName]="regionIndex">
										<div class="addressFieldContainer">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="name"
															 [placeholder]="service.cid + '.region_name' | translate">
											</mat-form-field>
											<div class="actions">
												<button mat-icon-button color="warn"
																[matTooltip]="service.cid + '.remove_region' | translate"
																(click)="deleteItem(city, regionIndex, 'regions')">
													<mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
												</button>
												<button mat-icon-button color="primary"
																[matTooltip]="service.cid + '.add_province' | translate"
																(click)="pushItem(region, 'provinces')">
													<mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
												</button>
											</div>
										</div>
										<div class="provinces" formArrayName="provinces"
												 *ngFor="let province of region.get('provinces').controls; let provinceIndex = index;">
											<div class="addressContainer" [formGroupName]="provinceIndex">
												<div class="addressFieldContainer">
													<mat-form-field class="example-full-width">
														<input matInput formControlName="name"
																	 [placeholder]="service.cid + '.province_name' | translate">
													</mat-form-field>
													<div class="actions">
														<button mat-icon-button color="warn"
																		[matTooltip]="service.cid + '.remove_province' | translate"
																		(click)="deleteItem(region, provinceIndex, 'provinces')">
															<mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
														</button>
														<button mat-icon-button color="primary"
																		[matTooltip]="service.cid + '.add_district' | translate"
																		(click)="pushItem(province, 'districts')">
															<mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
														</button>
													</div>
												</div>

												<div class="districts" formArrayName="districts"
														 *ngFor="let district of province.get('districts').controls; let districtIndex = index;">
													<div class="addressContainer" [formGroupName]="districtIndex">
														<div class="addressFieldContainer">
															<mat-form-field class="example-full-width">
																<input matInput formControlName="name"
																			 [placeholder]="service.cid + '.district_name' | translate">
															</mat-form-field>
															<div class="actions">
																<button mat-icon-button color="warn"
																				[matTooltip]="service.cid + '.remove_district' | translate"
																				(click)="deleteItem(province, districtIndex, 'districts')">
																	<mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
																</button>
																<!--																<button mat-icon-button color="primary"-->
																<!--																				[matTooltip]="service.cid + '.add_street' | translate"-->
																<!--																				(click)="pushItem(district, 'streets')">-->
																<!--																	<mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>-->
																<!--																</button>-->
															</div>
														</div>
														<!--														<div class="streets" formArrayName="streets"-->
														<!--																 *ngFor="let street of district.get('streets').controls; let streetIndex = index;">-->
														<!--															<div class="addressContainer" [formGroupName]="streetIndex">-->
														<!--																<div class="addressFieldContainer">-->
														<!--																	<mat-form-field class="example-full-width">-->
														<!--																		<input matInput formControlName="name"-->
														<!--																					 [placeholder]="service.cid + '.street_name' | translate">-->
														<!--																	</mat-form-field>-->
														<!--																	<div class="actions">-->
														<!--																		<button mat-icon-button color="warn"-->
														<!--																						[matTooltip]="service.cid + '.remove_street' | translate"-->
														<!--																						(click)="deleteItem(district, streetIndex, 'streets')">-->
														<!--																			<mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>-->
														<!--																		</button>-->
														<!--																	</div>-->
														<!--																</div>-->
														<!--															</div>-->
														<!--														</div>-->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-card>
		<app-form-footer (submit)="formSubmission()" [form]="form"></app-form-footer>
	</form>
</div>
