<div fxFlex fxLayout="row" class="container">
	<div fxFlex="40" class="left-section">
		<div class="section-content" fxLayout="column">
			<img class="left-section-img" src="assets/logo3_png_bg@2x.png" />
		</div>
	</div>

	<div fxFlex="60" class="right-section" fxLayoutAlign="center center">
		<div class="fields-container">
			<div class="login-title" [hidden]="forgotPassword" translate></div>
			<form
				(ngSubmit)="login()"
				[formGroup]="loginForm"
				[hidden]="forgotPassword"
				novalidate
			>
				<div class="login-error" [hidden]="!error || isLoading" translate>
					{{ 'email_or_pass_not_correct' | translate }}
				</div>
				<br />
				<div class="login-fields" fxLayout="column">
					<span class="login-msg">Log In</span>
					<mat-form-field [hideRequiredMarker]="true" appearance="outline">
						<mat-label>{{
							'validations.login.username' | translate
						}}</mat-label>
						<input
							type="text"
							matInput
							formControlName="email"
							autocomplete="email"
							[placeholder]="'email' | translate"
							required
						/>
						<mat-error
							*ngIf="
								loginForm.controls.email.invalid &&
								loginForm.controls.email.touched
							"
						>
							<span translate>email is required</span>
						</mat-error>
					</mat-form-field>

					<mat-form-field [hideRequiredMarker]="true" appearance="outline">
						<mat-label>{{
							'validations.login.password' | translate
						}}</mat-label>
						<input
							type="password"
							matInput
							formControlName="password"
							autocomplete="current-password"
							[placeholder]="'Password' | translate"
							required
							id="mysecretpassword"
							showHideInput
						/>
						<mat-icon
							matSuffix
							class="material-icons cursor-pointer"
							showHideTrigger="mysecretpassword"
							[showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }"
						></mat-icon>
						<mat-error
							*ngIf="
								loginForm.controls.password.invalid &&
								loginForm.controls.password.touched
							"
						>
							<span translate>Password is required</span>
						</mat-error>
					</mat-form-field>
					<!--          <mat-checkbox class="checkBox" formControlName="remember" translate>Remember me</mat-checkbox>-->
					<br />
					<button
						class="login-btn"
						mat-raised-button
						type="submit"
						[disabled]="loginForm.invalid || isLoading"
						[ngClass]="{ disabled: loginForm.invalid || isLoading }"
					>
						<span translate>Login</span>
					</button>
					<!--          <div class="forget-password">-->
					<!--            <img src="../../../../assets/password-reset.png" class="pass-reset"/>-->
					<!--            <a class="underline-none" href="javascript:" (click)="forgotPassword = !forgotPassword">-->
					<!--              {{ 'forget_password' | translate }}-->
					<!--            </a>-->
					<!--          </div>-->
				</div>
			</form>
		</div>
	</div>
</div>
