.pageNumber {
	padding: 0;
	margin: 7px 5px 0;
	color: black;
	border: none;
	height: 30px;
	width: 30px;

	&:hover {
		background-color: #7ca8ef;
		color: white;
	}

	&.btn-primary {
		color: white;
		background-color: #003070;
		margin: 7px 5px 0;
	}
}

.pagesDropdown {
	float: right;
}

:host ::ng-deep .ng-value-container {
	padding: 0 5px !important;
}

.pagination {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 1rem;

	button {
		cursor: pointer;
		margin: 0.3rem;
		border: none;
		background: none;

		&:focus {
			outline: none !important;
		}

		&:disabled {
			cursor: unset;
			background: none !important;
		}
	}

	.pages-container {
		align-items: center;
	}

	.primary {
		color: white;
		background-color: #297df8;
		border-radius: 4px;
	}

	.light {
		color: #707070;
	}

	.items-count {
		display: flex;
		flex-direction: row;
		margin: 0 1rem;

		label {
			padding: 0 1rem;
		}
	}

	.select {
		width: 4rem;
	}

	.form-to-page {
		font-weight: bold;
		color: #192a56;
	}
}
