.listOptions {
	background-color: white;
	padding: 18px 20px;
	margin-bottom: 12px;
	box-shadow: 0 3px 6px rgba(47, 53, 79, 0.24);

	.img-container {
		background-color: #b8cce9;
		border-radius: 12px;
		height: 48px;
		width: 48px;
		position: relative;
		display: inline-flex;

		.shadow-img {
			position: absolute;
			top: 10px;
			left: 10px;
		}

		.front-img {
			position: absolute;
			top: 15px;
			left: 15px;
		}
	}

	.title-container {
		display: flex;
		margin-left: 12px;
		font-size: 12px;

		.number {
			color: #313853;
		}

		mat-icon {
			vertical-align: middle;
		}

		h3 {
			font-size: 16px;
			margin: 0;
		}
	}

	button {
		background-color: #313853;
		color: white;
		border-radius: 8px;
	}
}
