<div class="filter-container search-card">
	<mat-card class="main-card" fxFlex="" fxLayout="column">
		<mat-card-header class="filter-card-header">
			<mat-icon class="filter-icon">tune</mat-icon>
			{{ 'common.filter' | translate }}
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="form" *ngIf="columns" (ngSubmit)="filter()">
				<ng-container *ngFor="let column of columns">
					<ng-container *ngIf="column && column.searchable">
						<ng-container
							*ngIf="
								column &&
								(column.formFieldType === 'text' ||
									column.formFieldType === 'email' ||
									column.formFieldType === 'phone')
							"
						>
							<mat-form-field appearance="outline">
								<input
									matInput
									[formControlName]="column.name"
									[placeholder]="service.cid + '.' + column.name | translate"
								/>
							</mat-form-field>
						</ng-container>
						<!-- Text Field -->

						<ng-container
							*ngIf="
								column &&
								((column.formFieldType === 'radio' && column.listPrefix) ||
									column.formFieldType === 'select')
							"
						>
							<mat-form-field>
								<mat-select
									[formControlName]="column.name"
									[placeholder]="service.cid  + '.' + column.name | translate"
								>
									<mat-option
										*ngFor="let item of service.lists[column.listPrefix]"
										[value]="item.id"
										>{{ item.name || item.displayName }}</mat-option
									>
								</mat-select>
							</mat-form-field>
						</ng-container>
						<!-- Select Field -->

						<div class="owlInputSelector">
							<input
								class="d-block"
								*ngIf="column.formFieldType == 'date_time_picker'"
								[owlDateTimeTrigger]="dt10"
								[owlDateTime]="dt10"
								(dateTimeChange)="getDateTime($event, column.name)"
								[selectMode]="'range'"
							/>
							<!--							<ng-container *ngFor="let error of errors | keyvalue">-->
							<!--								<small class="text-danger" *ngIf="error.key === field.name">-->
							<!--									{{cid + '.' + field.name | translate}} {{'validations.' + error.value.error | translate}}-->
							<!--								</small>-->
							<!--							</ng-container>-->
							<owl-date-time #dt10></owl-date-time>
						</div>

						<!--						<div class="owlInputSelector">-->
						<!--							<input class="d-block"-->
						<!--										 *ngIf="column.formFieldType == 'date_picker'" [owlDateTimeTrigger]="dt3"-->
						<!--										 [owlDateTime]="dt3"-->
						<!--										 (dateTimeChange)="getDate($event, column.name)"-->
						<!--										 [selectMode]="'range'">-->
						<!--							<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>-->
						<!--						</div>-->

						<!--            <ng-container-->
						<!--              *ngIf="column && (column.formFieldType === 'radio' && column.listPrefix || column.formFieldType === 'multi_select')">-->
						<!--              <mat-form-field>-->
						<!--                <mat-select [formControlName]="column.name" [placeholder]="'common.' + column.name | translate" multiple>-->
						<!--                  <mat-option *ngFor="let item of service.lists[column.listPrefix].data"-->
						<!--                              [value]="item.id">{{ item.name || item.displayName }}</mat-option>-->
						<!--                </mat-select>-->
						<!--              </mat-form-field>-->
						<!--            </ng-container> &lt;!&ndash; Multi-Select Field &ndash;&gt;-->
					</ng-container>
				</ng-container>
				<div class="owlInputSelector">
					<input
						class="d-block"
						[owlDateTimeTrigger]="dt3"
						[owlDateTime]="dt3"
						(dateTimeChange)="getDate($event, 'created_at')"
						[selectMode]="'range'"
					/>
					<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
				</div>
				<button
					*ngIf="columns"
					[disabled]="!form.valid"
					type="submit"
					mat-button
				>
					{{ 'common.apply' | translate }}
				</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
