.filter-container {
	width: 100%;

	.main-card {
		width: 100%;
	}
}

mat-card-header {
	margin-bottom: 12px;
}

form {
	mat-form-field {
		display: inline-block;
		width: 45%;
		margin-right: 5%;
	}

	button {
		display: block;
		background-color: #313853;
		color: white;
		margin-right: 53px;
		margin-top: 12px;
	}
}
