<div class="filter-container search-card" fxFlex fxLayout>
	<mat-card class="main-card">
		<mat-card-header class="filter-card-header">
			<mat-icon class="filter-icon">tune</mat-icon>
			{{ 'common.filter' | translate }}
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="form" *ngIf="columns" (ngSubmit)="filter()">
				<ng-container *ngFor="let column of columns">
					<ng-container *ngIf="column && column.searchable">
						<ng-container
							*ngIf="
								column &&
								(column.formFieldType === 'text' ||
									column.formFieldType === 'email' ||
									column.formFieldType === 'phone')
							"
						>
							<mat-form-field>
								<input
									matInput
									[formControlName]="column.name"
									[placeholder]="'common.' + column.name | translate"
								/>
							</mat-form-field>
						</ng-container>
						<!-- Text Field -->

						<ng-container
							*ngIf="
								column &&
								((column.formFieldType === 'radio' && column.listPrefix) ||
									column.formFieldType === 'select')
							"
						>
							<mat-form-field>
								<mat-select
									[formControlName]="column.name"
									[placeholder]="'common.' + column.name | translate"
								>
									<mat-option
										*ngFor="let item of service.lists[column.listPrefix]"
										[value]="item.id"
										>{{ item.name || item.displayName }}</mat-option
									>
								</mat-select>
							</mat-form-field>
						</ng-container>
						<!-- Select Field -->

						<!--            <ng-container-->
						<!--              *ngIf="column && (column.formFieldType === 'radio' && column.listPrefix || column.formFieldType === 'multi_select')">-->
						<!--              <mat-form-field>-->
						<!--                <mat-select [formControlName]="column.name" [placeholder]="'common.' + column.name | translate" multiple>-->
						<!--                  <mat-option *ngFor="let item of service.lists[column.listPrefix].data"-->
						<!--                              [value]="item.id">{{ item.name || item.displayName }}</mat-option>-->
						<!--                </mat-select>-->
						<!--              </mat-form-field>-->
						<!--            </ng-container> &lt;!&ndash; Multi-Select Field &ndash;&gt;-->
					</ng-container>
				</ng-container>

				<button
					*ngIf="columns"
					[disabled]="!form.valid"
					type="submit"
					mat-button
				>
					{{ 'common.apply' | translate }}
				</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
