<div class="filter-container search-card" *ngIf="filterOpened">
	<mat-card class="main-card">
		<mat-card-content>
			<form [formGroup]="form" *ngIf="columns" (ngSubmit)="filter()">
				<ng-container *ngFor="let column of columns">
					<ng-container *ngIf="column && column.searchable">
						<ng-container
							*ngIf="
								column &&
								(column.formFieldType === 'text' ||
									column.formFieldType === 'email' ||
									column.formFieldType === 'phone')
							"
						>
							<mat-form-field appearance="outline">
								<input
									matInput
									[formControlName]="column.name"
									[placeholder]="service.cid + '.' + column.name | translate"
								/>
							</mat-form-field>
						</ng-container>
						<!-- Text Field -->

						<ng-container
							*ngIf="
								column &&
								((column.formFieldType === 'radio' && column.listPrefix) ||
									column.formFieldType === 'select') &&
								(service.lists[column.listPrefix] &&
									service.lists[column.listPrefix].length)
							"
						>
							<mat-form-field>
								<mat-select
									(selectionChange)="
										valueChanges(column.name, column.escapedField)
									"
									[formControlName]="column.name"
									[placeholder]="service.cid + '.' + column.name | translate"
								>
									<mat-option
										*ngFor="let item of service.lists[column.listPrefix]"
										[value]="item.id"
										>{{
											column.translate
												? (service.cid + '.' + item.name | translate)
												: item.name
										}}</mat-option
									>
								</mat-select>
							</mat-form-field>
						</ng-container>
						<!-- Select Field -->
					</ng-container>
				</ng-container>

				<div class="owlInputSelector">
					<input
						class="d-block date-time"
						[owlDateTimeTrigger]="dt3"
						[owlDateTime]="dt3"
						(dateTimeChange)="getDate($event, 'created_at')"
						[selectMode]="'range'"
						[placeholder]="'common.date_range' | translate"
					/>
					<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
				</div>
				<button
					*ngIf="columns"
					[disabled]="!form.valid"
					type="submit"
					mat-button
				>
					{{ 'common.apply' | translate }}
				</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
