<div class="table-overflow">
	<div class="tbl-content">
		<table class="table table-hover">
			<thead class="tbl-header" *ngIf="rows?.data?.length !== 0">
				<tr>
					<ng-container *ngFor="let column of columns">
						<ng-container *ngIf="column.listing">
							<th
								[style.width.px]="column.width"
								style="height: 42px !important;"
							>
								{{ controller + '.' + column.name | translate }}
							</th>
						</ng-container>
					</ng-container>
					<th *ngIf="hasActions()" class="actions-head action-column-width">
						{{ 'common.actions' | translate }}
					</th>
				</tr>
			</thead>

			<tbody>
				<ng-container *ngIf="rows?.data?.length === 0">
					<div style="padding: 10px 15px">
						<h3 class="ion-text-center">
							{{ 'msg.no_data_founds' | translate }}
						</h3>
					</div>
				</ng-container>
				<tr *ngFor="let row of rows?.data">
					<ng-container *ngFor="let column of columns">
						<ng-container *ngIf="column.listing">
							<td *ngIf="column.displayType === 'image'">
								<img
									style="border-radius: 8px; width: 40px; height: 40px"
									*ngIf="getValue(row, column.prop)"
									width="40"
									[src]="
										getValue(row, column.prop)
											? environment.imagePath + getValue(row, column.prop)
											: '/assets/man.jpg'
									"
									[alt]="getValue(row, 'name')"
								/>
							</td>
							<!-- Image TD -->
							<td *ngIf="column.displayType === 'color'">
								<div
									*ngIf="getValue(row, column.prop)"
									[style.background-color]="getValue(row, column.prop)"
									style="width: 30px; height: 30px"
								></div>
							</td>
							<!-- Color HEX TD -->
							<td
								[style.width.px]="column.width"
								class="link-text"
								*ngIf="
									column.listing &&
									column.displayType !== 'image' &&
									column.displayType !== 'color'
								"
								[matTooltip]="
									getValue(row, column.prop).length > 30
										? getValue(row, column.prop)
										: ''
								"
								[ngClass]="{ pointer: !archivedList && options.view }"
							>
								<span *ngIf="!options.hoverData.status">
									{{
										column.translate
											? getValue(row, column.prop) === ''
												? ''
												: (controller +
														'.' +
														getValue(row, column.prop).toLowerCase()
												  | translate)
											: getValue(row, column.prop).length > 30
											? getValue(row, column.prop).substring(0, 30) + '...'
											: getValue(row, column.prop)
									}}
								</span>
							</td>
							<!-- Text TD -->
						</ng-container>
					</ng-container>

					<td *ngIf="hasActions()" class="action-column-width actions-data-row">
						<div class="actions-buttons">
							<ng-container>
								<span class="actions-trigger" [matMenuTriggerFor]="menu"
									>...</span
								>
								<mat-menu #menu="matMenu">
									<button
										mat-menu-item
										*ngIf="options.view"
										[secured]="controller + '-index'"
										[matTooltip]="'common.view' | translate"
										(click)="doAction('view', row.id)"
									>
										<mat-icon class="list-action-icon">visibility</mat-icon>
										<span>{{ 'common.view' | translate }}</span>
									</button>

									<button
										mat-menu-item
										*ngIf="options.view"
										[secured]="controller + '-index'"
										[matTooltip]="'common.view' | translate"
										(click)="doAction('view', row.id)"
									>
										<mat-icon matPrefix class="list-action-icon"
											>visibility
										</mat-icon>
										<span>{{ 'common.view' | translate }}</span>
									</button>

									<button
										mat-menu-item
										*ngIf="options.edit"
										[secured]="controller + '-update'"
										[matTooltip]="'common.edit' | translate"
										(click)="doAction('edit', row.id)"
									>
										<mat-icon matPrefix class="list-action-icon">edit</mat-icon>
										<span>{{ 'common.edit' | translate }}</span>
									</button>

									<button
										mat-menu-item
										*ngIf="options.archive"
										[secured]="controller + '-delete'"
										[matTooltip]="'common.delete' | translate"
										(click)="openDialog(row, 'archive')"
									>
										<mat-icon matPrefix class="list-action-icon"
											>delete
										</mat-icon>
										<span>{{ 'common.delete' | translate }}</span>
									</button>
								</mat-menu>
							</ng-container>
						</div>
					</td>
					<ng-container></ng-container>
				</tr>
			</tbody>
		</table>
	</div>
</div>
