.container {
	justify-content: flex-start;
	display: flex;
	margin-top: 12px;
	padding-right: 0;

	.submit,
	.cancel {
		color: white;
		border-radius: 8px;
		margin-left: 10px;

		&.submit {
			background-color: #191e2c;

			&:hover {
				background-color: #313853;
				color: whitesmoke;
			}
		}

		&.cancel {
			background-color: red;

			&:hover {
				background-color: #ff2626;
			}
		}
	}
}
