.container {
	justify-content: flex-start;
	display: flex;
	margin-top: 12px;
	padding-right: 0;
	margin-bottom: 40px;

	.submit,
	.cancel {
		color: white;
		border-radius: 8px;
		margin-left: 10px;
		cursor: pointer;

		&.submit {
			background-color: #0063f4;
			width: 146px;
			height: 40px;
			box-shadow: 0 3px 6px rgba(25, 30, 44, 0.9);

			&:hover {
				background-color: #0050b2;
				color: whitesmoke;
			}
		}

		&.cancel {
			border: 1px solid #757a8b;
			color: #757a8b;
		}
	}
}
