.big_add_button {
	width: 100%;
	height: 65px;
	display: flex;
	border: 1px dashed #999;
	align-items: center;
	justify-content: center;
}

.form-section {
	&.cardStyle {
		border: 1px dashed #e0e0e0;
		margin: 10px 0;
		border-radius: 5px;
		padding: 15px 30px;
	}
}

.default-form .form-section .form-section-title {
	font-weight: bold;
	padding-bottom: 5px;
	margin-top: -35px;
	background: #fff;
	display: flex;
	margin-left: auto;
	padding: 10px 10px;
}
